extends ../layouts/authenticatedDefaultLayout
block layoutVars
  - var title = 'PQRS Dashboard'
  - var sidebarLink = 'dashboards/importBatch'
mixin filterPanel(id, label)
  div.form-group
    label.checkbox
      input(id=id type="checkbox" data-toggle="checkbox" value="")
      | #{label}
mixin recordStatusLegend
  .legend
    i.fa.fa-circle.text-inactive 
    |    Pending Data Entry    
    i.fa.fa-circle.text-info 
    |    Processing    
    i.fa.fa-circle.text-success 
    |    Processing Complete    
    i.fa.fa-circle.text-warning 
    |    Pending Review    
    i.fa.fa-circle.text-danger 
    |    Discarded/Ignored    
//-mixin batchesTable(batches, status)
  .content.table-responsive.table-full-width
    table.table.table-striped
      thead
        tr
          th Batch Name/ID
          th.text-center Facility
          th.text-center Record Count
          th.text-center Data Entry Progress
          th.text-center Assigned To
          th.text-center Created
          th.text-right Actions
      tbody
        each batch in _.orderBy(batches,'createdAt','asc')
          if !status || batch.batchStatus == status
            - var dataEntryPercentages = helpers.getDataEntryProgressPercentages(batch.statusCounts);
            tr
              td 
                a(href='/collector/batch/#{batch.importBatchGuid}') #{batch.batchName || batch.importBatchGuid}
              td.text-center #{helpers.getFacilityName(facilities, batch.facilityId)}
              td.text-center #{dataEntryPercentages.total}
              td.text-center
                +progressBar(dataEntryPercentages)
              td.text-center #{batch.assignedTo}
              td.text-center #{moment(batch.createdAt).from(new Date())}
              td.td-actions.text-right
                +assignUserButton(batch.importBatchGuid)
block modals
block content
  .row
    .col-md-12
      .card
        .header
          | New Records By Day (All Facilities)
        .content
          .row
            .col-md-12.text-center
              div.ct-chart#newRecordsByDayChart
  .row
    .col-md-6
      .card
        .header
          | All Batch Status
        .content
          .row
            .col-md-12.text-center
              div.ct-chart#allBatchesByStatusChart
        .footer
          .legend
            i.fa.fa-circle.text-inactive 
            |    Triage/Generating    
            i.fa.fa-circle.text-info 
            |    Open    
            i.fa.fa-circle.text-warning 
            |    Pending Review    
            i.fa.fa-circle.text-success 
            |    Complete    
            i.fa.fa-circle.text-danger 
            |    Discarded    
          //-.stats
            i.fa.fa-clock-o Last updated at 15:23
    .col-md-6
      .card
        .header
          | All Record Status
        .content
          .row
            .col-md-12.text-center
              div.ct-chart#allRecordsByStatusChart
        .footer
          +recordStatusLegend
  .row
    .col-md-12
      .card
        .header
          | Batch Status By Facility
        .content
          .row
            .col-md-12.text-center
              div.ct-chart#recordStatusByFacilityTable
        .footer
          +recordStatusLegend
  .row(style={'padding-bottom':'10px'})
    .col-md-12
      //-select.selectpicker.facility-dependent-picker#facilityId(name='facilityId', data-width='auto', data-title='Facility', data-menu-style='dropdown-blue')
        each facility in facilities
          option(value=facility.facilityId) #{facility.facilityName}
      button.btn.btn-wd.btn-default.pull-right#dateRangeButton(type="button")
        span
          i.fa.fa-calendar
        span.date-range-label
          | Select Date Range
        span.btn-label-right
          i.fa.fa-caret-down
          //-span.date-range-label
            | Success
      //-button.btn.btn-wd.pull-right#dateRangeButton
        span.btn-label.btn-label-right
          i.fa.fa-calendar
        span.btn-label.date-range-label 
          | Select Date Range
        span.btn-label
          i.fa.fa-calendar
      //-div.pull-right#dateRangeButton(style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;")
        i.glyphicon.glyphicon-calendar.fa.fa-calendar
        span
        b.caret
  //-.row
    .col-md-12
      .card
        .header
          | Data Entry By Day (All Facilities)
        .content
          .row
            .col-md-12.text-center
              div.ct-chart#dataEntryByDayChart
          //-ul.nav.nav-tabs(role='tablist')
            li.active(role='presentation')
              a(href='#agency', data-toggle='tab') Analytics
            li
              a(href='#company', data-toggle='tab') Forms
          //-.tab-content
            #agency.tab-pane.active
              .row
                .col-md-6.text-center
                  div
                    h5 Missing Required Fields
                  div.ct-chart#commonMissingFields
                .col-md-6
                  .row
                    .col-sm-6
                      h5 Compliance By Provider
                    .col-sm-6.text-right
                      select.selectpicker.pull-right#complianceChartProviderType(name='complianceChartProviderType', data-width='auto', data-title='Provider Type', data-menu-style='dropdown-blue')
                        option(value='anes') Anesthesiologist
                        option(value='crna') CRNA
                        option(value='surgeon') Surgeon
                  .row
                    .col-md-12
                      div.ct-chart#providerCompliance(style={'margin-top':'0px'})
            #company.tab-pane
              .row
                .col-md-12
                  select.selectpicker.pull-right#formFilter(name='formFilter', data-width='auto', data-title='Form Filter', data-menu-style='dropdown-blue')
                    option(value='all') All Forms
                    option(value='noncompliant') Non-compliant Forms Only
              .row
                //-.col-md-2
                  form(method="#" action="#")
                    +filterPanel('Compliance Level')
                    +filterPanel('Required Fields')
                .col-md-12
                  table.table.table-striped.rotate
                    thead
                      tr(styles='vertical-align: bottom')
                        th Encounter Number
                        th.text-center Procedure Date
                        th.text-center Missing Data Fields
                        th.rotate 
                          div 
                            span ABG2
                        th.rotate 
                          div 
                            span ABG3
                        th.rotate 
                          div 
                            span ABG4
                        th.rotate 
                          div 
                            span ABG9
                        th.rotate 
                          div 
                            span ABG11
                        th.rotate 
                          div 
                            span ABG14
                        th.rotate 
                          div 
                            span ABG17
                        th.rotate 
                          div 
                            span ABG22
                        th.rotate 
                          div 
                            span ABG23
                        th.rotate 
                          div 
                            span ABG24
                        th.rotate 
                          div 
                            span ABG26
                        th.rotate 
                          div 
                            span ABG27
                        th.rotate 
                          div 
                            span ABG 19
                        th.rotate 
                          div 
                            span ABG 17
                        th.rotate 
                          div 
                            span ABG 8
                        th.rotate 
                          div 
                            span ABG 18
                        th.text-center Actions
                    tbody#formsTableBody
block otherscripts
  script var facilities = !{facilities ? JSON.stringify(facilities) : '[]'}
  script
    include importBatch.js